@model ABAC.DTO.LoginDTO
@inject ABAC.DAL.SpuContext _context

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";

    var setup = _context.table_setup.FirstOrDefault();
    var landing = _context.table_landing_page.OrderBy(r => Guid.NewGuid()).FirstOrDefault();
    var landingsrc = "";
    if (landing != null)
    {
        landingsrc = landing.Url;
    }

}
<div class="container-fluid">
    @*@if (TempData["actionUrl"] != null)
        {
            <form method="post" action="@TempData["actionUrl"]" id="ssoform1">
                <div id="pnlCookie">
                    <div>
                        @if (TempData["responseXml"] != null && TempData["relayState"] != null)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <textarea name="SAMLResponse" id="SAMLResponse" style="width:100%" rows="20">
                                @TempData["responseXml"]
                            </textarea>
                                </div>
                            </div>

                            <textarea name="RelayState" id="RelayState" cols="130" rows="5">
                                @TempData["relayState"]
                            </textarea>
                        }
                    </div>
                </div>
                <button class="btn btn-dark btn-block waves-effect waves-light" type="submit"><i class="fas fa-sign-in-alt ml-1"></i> Submit</button>
            </form>
            @section scripts{
                <script>
                    $(document).ready(function () {
                        document.getElementById("ssoform1").submit();
                    });
                </script>
            }
        }*@

    <!-- Log In page -->
    <div class="row vh-100">
        <div class="col-lg-9 p-0 h-100vh d-flex justify-content-center auth-bg" style='background: url(@landingsrc) no-repeat center center;'>
            <div class="accountbg d-flex align-items-lg-start">
                <div class="account-title text-center text-white">
                    @*<img src="~/images/logo.png" alt="">*@
                    <br />
                    <br />
                    @if (setup != null)
                    {
                        if (!string.IsNullOrEmpty(setup.first_page_description))
                        {
                            @Html.Raw(setup.first_page_description)
                        }
                    }
                    else
                    {
                        <h1 class="text-danger" style="font-size:48px;">Assumption University of Thailand</h1>
                    }
                    @*<h4 class="mt-3 text-white"><span class="text-dark">University</span> </h4>
        <div class="border w-25 mx-auto border-classic"></div>
        @if (setup != null && !string.IsNullOrEmpty(setup.first_page_description))
        {
            <p class="font-12 mt-3">
                @Html.Raw(setup.first_page_description)
            </p>
        }
        else
        {
            <p class="font-12 mt-3">
                ศูนย์ ICT มหาวิทยาลัย
                <br />
                email: ictcenter@cu.ac.th
            </p>
        }*@
                    <div class="border w-25 mx-auto border-danger"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pr-0">
            <div class="auth-page">
                <div class="card mb-0 shadow-none h-100">
                    <div class="card-body">
                        <div class="px-3">
                            <div class="mb-2 text-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" class="logo logo-admin">
                                            <span><img src="~/images/logo.png" height="120" alt="logo" ></span>
                                        </a>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                    </div>
                                </div>
                            </div>
                            <h2 class="font-weight-semibold font-22 mb-2 text-center">Welcome to <span class="text-secondary">AU Portal</span></h2>
                            <ul class="nav-border nav nav-pills" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active font-weight-semibold" data-toggle="tab" href="#LogIn_Tab" role="tab">Login</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">
                                    <form class="form-horizontal auth-form my-4 form-parsley" novalidate role="form" asp-action="Login" asp-controller="Auth">
                                        @Html.HiddenFor(m => m.SAMLRequest)
                                        @Html.HiddenFor(m => m.RelayState)

                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" asp-for="UserName" required>
                                            @Html.ValidationMessageFor(m => m.UserName)

                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label for="userpassword">Password</label>
                                            <input type="password" class="form-control" asp-for="Password" required>
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div><!--end form-group-->
                                        <div class="form-group row mt-4">
                                            <div class="col-sm-12 ">
                                                <a href="@Url.Action("ForgotPassword","Auth")" class="text-muted font-13"><i class="dripicons-lock"></i> Forgot Password?</a>
                                            </div>
                                        </div>

                                        <div class="form-group mb-0 row">
                                            <div class="col-12 mt-2">
                                                <button class="btn btn-dark btn-block waves-effect waves-light" type="submit"><i class="fas fa-sign-in-alt ml-1"></i> Login</button>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
