@inject ABAC.Services.LoginServices loginServices
@inject ABAC.DAL.SpuContext _context
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var version = "v28042020";
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];

    var portal = Configuration["SystemConf:Portal"];
    //var userrole = _context.table_user_role.Where(w => w.username.ToLower() == loginServices.AuthenName().ToLower()).FirstOrDefault();
    var roles = loginServices.UserRole();
    if (string.IsNullOrEmpty(roles))
    {
        roles = "";
    }
    var setup = _context.table_setup.FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@TempData["Title"] - Assumption University of Thailand</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.png">

    <!-- App css -->
    <!-- App css -->
    <link href="~/metrica/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/metrica/assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/metrica/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metrica/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metrica/assets/css/app.css?v=@version" rel="stylesheet" type="text/css" />

    <link href="~/metrica/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/metrica/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metrica/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />
    <link href="~/metrica/plugins/timepicker/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/metrica/plugins/nestable/jquery.nestable.min.css" rel="stylesheet" />

    @*<link rel="stylesheet" type="text/css" href="http://home.au.edu/theme/standard/styles.php">*@
    @*<link rel="stylesheet" type="text/css" href="http://home.au.edu/theme/formal_white_custom/styles.php">*@
    @*<style>
        @@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"); /* Using a url */
        @@import url("https://fonts.googleapis.com/css?family=Arimo");
        @@import url("https://fonts.googleapis.com/css?family=Chonburi");

        * {
            box-sizing: border-box;
        }

        #preview body {
            font-family: 'Arimo';
        }

        #preview header, #preview footer {
            margin: 20px;
            text-align: center;
        }

        #preview a {
            color: #1f41c9 !important;
            text-decoration: underline !important;
        }

        #preview h2 {
            text-align: center;
            font-family: 'Chonburi';
            text-shadow: -1px -1px 3px rgba(0,0,0,0.5);
            color: #333;
        }

        #preview h3 {
            /* font-size: calc(1.2rem + .5vw); */
            text-align: center;
            background-color: aquamarine;
        }

        #preview .left {
            text-align: left;
        }

        #preview li a:hover {
            background-color: #ccc;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        /* Style the header */
        #preview .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            /* background-color: #2196F3; */
            grid-gap: 5px;
            padding: 10px;
            justify-content: center;
        }

        #preview .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 1rem;
            text-align: center;
        }


        @@media (max-width: 800px) {
            #preview .grid-container {
                grid-template-columns: 1fr;
            }

            #preview .grid-container2 {
                grid-template-columns: 1fr;
            }
        }

        #preview .btn {
            text-decoration: none !important;
            display: block;
            background: linear-gradient(to bottom, DodgerBlue 5%, RoyalBlue 100%);
            background-color: DodgerBlue;
            border: none;
            color: white !important;
            margin: 8px auto;
            padding: 8px;
            cursor: pointer;
            /* font-size: 20px; */
            width: 75%;
            border-radius: 5px;
            box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.5);
            transition: all .3s;
        }

            /* Darker background on mouse-over */
            #preview .btn:hover {
                text-decoration: none;
                background: linear-gradient(to bottom, RoyalBlue 5%, DodgerBlue 100%);
                background-color: RoyalBlue;
                transform: scale(1.1);
            }

        #preview .nobullet {
            list-style: none;
            padding-inline-start: 0px;
            line-height: 2.5rem;
        }

        #preview .fs7 {
            font-size: .7rem;
        }

        #preview .fs8 {
            font-size: .8rem;
        }

        #preview .fs9 {
            font-size: .9rem;
        }

        #preview .li-border {
            border-bottom: 1px solid gray;
        }

        #preview .li-margin {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #preview .h3-margin {
            margin-top: 15px;
        }

        /* server Reset */
        #preview html, #preview body, #preview div, #preview span, #preview applet, #preview object, #preview iframe, #preview h1,
        #preview h2, #preview h3, #preview h4, #preview h5, #preview h6, #preview p, #preview blockquote, #preview pre, #preview a,
        #preview abbr, #preview acronym, #preview address, #preview big, #preview cite, #preview code, #preview del, #preview dfn,
        #preview em, #preview font, #preview img, #preview ins, #preview kbd, #preview q, #preview s, #preview samp, #preview
        small, #preview strike, #preview strong, #preview sub, #preview sup, #preview tt, #preview var, #preview b, #preview u,
        #preview i, #preview center, #preview dl, #preview dt, #preview dd, #preview ol, #preview ul, #preview li, #preview fieldset,
        #preview form, #preview label, #preview legend, #preview table, #preview caption, #preview tbody, #preview tfoot,
        #preview thead, #preview tr, #preview th, #preview td {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            line-height: 1.5;
            /*vertical-align: baseline;
            background: transparent;*/
        }

        #preview body {
            line-height: 1;
        }

        #preview ol, #preview ul {
            list-style: none;
        }

        #preview blockquote, #preview q {
            quotes: none;
        }

            #preview blockquote:before, #preview blockquote:after,
            #preview q:before, #preview q:after {
                content: '';
                content: none;
            }

        /* remember to define focus styles! */
        #preview :focus {
            outline: 0;
        }

        /* remember to highlight inserts somehow! */
        #preview ins {
            text-decoration: none;
        }

        #preview del {
            text-decoration: line-through;
        }

        #preview img {
            border: 0;
        }
        /*---------------------------- end reset -----------------------------------*/

    </style>*@
</head>
<body class="dark-sidenav">
    <div class="loading">
        <div class="loading-spin">

            <div class="spinner-grow text-danger" role="status"></div>
            <div class="spinner-grow text-danger" role="status"></div>
            <div class="spinner-grow text-danger" role="status"></div>
        </div>

    </div>
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="@Url.Action("Login","Auth")" class="logo">
                <span>
                    <img src="~/images/logo-light.png" alt="logo-small" class="logo-sm">
                </span>
            </a>
        </div>
        <!--end logo-->
        <div class="leftbar-profile p-3 w-100">
            <div class="media position-relative">
                <div class="avatar-box thumb-md align-self-center mr-3">
                    <a onclick="gmail_onclick()" class="avatar-title bg-danger rounded-circle" href="http://gmail.google.com/a/au.edu" title="Email" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                </div>
                <div class="avatar-box thumb-md align-self-center mr-3">
                    <a onclick="cal_onclick()" class="avatar-title bg-success rounded-circle" href="http://calendar.google.com/a/au.edu" title="Calendar" target="_blank"><i class="far far fa-calendar-alt fa-2x"></i></a>
                </div><!--end media-body-->
                <div class="avatar-box thumb-md align-self-center mr-3">
                    <a onclick="doc_onclick()" class="avatar-title bg-warning rounded-circle" href="http://docs.google.com/a/au.edu" title="Document" target="_blank"><i class="fas fa-folder-open fa-2x"></i></a>
                </div><!--end media-body-->
            </div>
        </div>
        <ul class="metismenu left-sidenav-menu slimscroll">
            <li class="leftbar-menu-item">
                <a class="menu-link" href="@Url.Action("Home", "Profile")"><i data-feather="home" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Home</a>
            </li>
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.Helpdesk))
            {
                <li class="leftbar-menu-item">
                    <a class="menu-link" href="@Url.Action("CheckAccount", "Account")"><i data-feather="search" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Search Account</a>
                </li>
            }
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.Helpdesk))
            {
                <li class="leftbar-menu-item">

                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="plus-square" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Create Account</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CreateAccount", "Account")"><i data-feather="user-plus" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>New Account</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CreateAccountFromFile", "Account")"><i data-feather="file-plus" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Bulk Import File</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CreateAccountBulk", "Account")"><i data-feather="users" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Bulk</a></li>
                    </ul>
                </li>
            }
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.Helpdesk))
            {
                <li class="leftbar-menu-item">
                    <a class="menu-link" href="@Url.Action("Rename", "Account")"><i data-feather="edit-3" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Rename Account</a>
                </li>
            }
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.Helpdesk) | roles.Contains(roleType.PasswordOperator))
            {
                <li class="leftbar-menu-item">
                    <a class="menu-link" href="@Url.Action("ResetPassword", "Account")"><i data-feather="key" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Reset Password</a>
                </li>
            }

            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.Helpdesk))
            {
                <li class="leftbar-menu-item">
                    <a class="menu-link" href="@Url.Action("EnableAccount", "Account")"><i data-feather="toggle-right" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Lock/Unlock</a>
                </li>
            }
            @if (roles.Contains(roleType.Admin))
            {
                <li class="leftbar-menu-item">
                    <a class="menu-link" href="@Url.Action("DeleteAccount", "Account")"><i data-feather="user-minus" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Delete Account</a>
                </li>
            }
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.Helpdesk))
            {
                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="pie-chart" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Report</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("BulkImport", "Report")"><i data-feather="file-plus" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Bulk Import File</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Bulk", "Report")"><i data-feather="users" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Bulk</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CreateUser", "Report")"><i data-feather="user-plus" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Create User[Syn]</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("UpdateUser", "Report")"><i data-feather="edit" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Update/Rename User[Syn]</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("DeleteUser", "Report")"><i data-feather="user-minus" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Delete User[Syn]</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Log", "Report")"><i data-feather="list" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Transaction Log</a></li>
                    </ul>
                </li>
            }
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.WebMaster))
            {
                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="code" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Home CMS</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CMSStaff", "System")"><i data-feather="home" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Staff</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CMSStudent", "System")"><i data-feather="home" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Student</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CMSVIP", "System")"><i data-feather="home" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>VIP</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CMSOffice", "System")"><i data-feather="home" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Office</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CMSGuest", "System")"><i data-feather="home" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Guest</a></li>
                    </ul>
                </li>
            }
            @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.WebMaster))
            {
                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="tool" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Setup</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        @if (roles.Contains(roleType.Admin))
                        {
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("UserRole", "System")"><i data-feather="lock" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>User Role</a></li>
                        }
                        @if (roles.Contains(roleType.Admin) | roles.Contains(roleType.WebMaster))
                        {
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("LandingPage", "System")"><i data-feather="image" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>Landing Page</a></li>
                        }
                        @*@if (roles.Contains(roleType.Admin))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Setup", "System")"><i data-feather="settings" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>การตั้งค่าทั่วไป</a></li>
                    }*@
                    </ul>
                </li>
            }
            @if (!roles.Contains(roleType.Admin) & !roles.Contains(roleType.Helpdesk) & !roles.Contains(roleType.PasswordOperator) & !roles.Contains(roleType.WebMaster))
            {
                <li class="leftbar-menu-item">
                    <a href="@Url.Action("Index", "Profile")" class="menu-link">
                        <i data-feather="user" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Account Profile</span>
                    </a>
                </li>
                <li class="leftbar-menu-item">
                    <a href="@Url.Action("ChangePassword", "Profile")" class="menu-link">
                        <i data-feather="lock" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li class="leftbar-menu-item">
                    <a href="@Url.Action("Logout", "Auth")" class="menu-link">
                        <i data-feather="power" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Logout</span>
                    </a>
                </li>
            }
        </ul>

    </div>
    <!-- end left-sidenav-->
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- Navbar -->
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-nav float-right mb-0">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <div class="avatar-box thumb-sm align-self-center">
                            <span class="avatar-title bg-secondary  rounded-circle">@loginServices.AuthenName().ToUpper().Substring(0, 2)</span>
                        </div>
                        <span class="ml-1 nav-user-name hidden-sm">
                            <span>@loginServices.AuthenName()</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="@Url.Action("Index","Profile")"><i class="dripicons-user text-muted mr-2"></i> Account Profile</a>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword","Profile")"><i class="dripicons-lock text-muted mr-2"></i> Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Auth")" onclick="logout()"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                    </div>
                </li>
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <span class="responsive-logo">
                        <img src="~/images/logo.png" alt="logo-small" class="logo-sm align-self-center" height="34">
                    </span>
                </li>
                <li>
                    <button class="button-menu-mobile nav-link waves-effect waves-light">
                        <i class="dripicons-menu nav-icon"></i>
                    </button>
                </li>
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->
    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content-tab">
            <div>
                <form method="post" action="@TempData["actionUrl"]" id="ssoform1" target="_blank">
                    <div id="pnlCookie" style="display:none;">
                        <div>
                            @if (TempData["responseXml"] != null && TempData["relayState"] != null)
                            {
                                <textarea name="SAMLResponse" id="SAMLResponse" style="width:100%" rows="20">
                                    @TempData["responseXml"]
                                </textarea>
                                <textarea name="RelayState" id="RelayState" cols="130" rows="5">
                                    @TempData["relayState"]
                                </textarea>
                            }
                        </div>
                    </div>
                    <button id="btnssosubmit" type="submit" style="display:none;">Submit</button>
                </form>
            </div>
            @RenderBody()
            <br />
            <br />
            <br />
            <footer class="footer text-center text-sm-center">
                @*@if (setup != null && !string.IsNullOrEmpty(setup.first_page_description))
                    {
                        <p>
                            @Html.Raw(setup.first_page_description)
                        </p>
                    }
                    else
                    {
                        <p>
                            ศูนย์ ICT มหาวิทยาลัย
                            <br />
                            email: ictcenter@cu.ac.th
                        </p>
                    }*@
            </footer><!--end footer-->
        </div>
    </div>

    <!-- end page-wrapper -->
    <!-- jQuery  -->
    <script src="~/metrica/assets/js/jquery.min.js"></script>
    <script src="~/metrica/assets/js/jquery-ui.min.js"></script>
    <script src="~/metrica/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/metrica/assets/js/metismenu.min.js"></script>
    <script src="~/metrica/assets/js/waves.js"></script>
    <script src="~/metrica/assets/js/feather.min.js"></script>
    <script src="~/metrica/assets/js/jquery.slimscroll.min.js"></script>

    <!-- Parsley js -->
    <script src="~/metrica/plugins/parsleyjs/parsley.min.js"></script>
    <script src="~/metrica/assets/pages/jquery.validation.init.js"></script>

    <script src="~/metrica/plugins/moment/moment.js"></script>
    <script src="~/metrica/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/metrica/plugins/select2/select2.min.js"></script>
    <script src="~/metrica/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/metrica/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/metrica/plugins/nestable/jquery.nestable.min.js"></script>
    <!--Wysiwig js-->
    <script src="~/metrica/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/metrica/assets/pages/jquery.form-editor.init.js"></script>
    <!-- App js -->
    <script src="~/metrica/assets/js/jquery.core.js"></script>
    <script src="~/metrica/assets/js/app.js"></script>

    <script>
        $(document).ready(function () {
            $('.dpicker').bootstrapMaterialDatePicker({
                weekStart: 0,
                time: false,
                format: 'DD/MM/YYYY'
            });
        });

        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
        $(document).ajaxStart(function () {
            displayBusyIndicator();
        });
        $(document).ajaxStop(function () {
            $('.loading').hide();
        });
    </script>
    <script>
        function gmail_onclick() {
            var sso = localStorage.getItem("sso");
            if (sso != 'successed') {
                $('#btnssosubmit').click();
                localStorage.setItem("sso", "successed");
            }
            window.open('http://gmail.google.com/a/au.edu', '_blank');
            $('.loading').hide();
        }
        function cal_onclick() {
            var sso = localStorage.getItem("sso");
            if (sso != 'successed') {
                $('#btnssosubmit').click();
                localStorage.setItem("sso", "successed");
            }
            window.open('http://calendar.google.com/a/au.edu', '_blank');
            $('.loading').hide();
        }
        function doc_onclick() {
            var sso = localStorage.getItem("sso");
            if (sso != 'successed') {
                $('#btnssosubmit').click();
                localStorage.setItem("sso", "successed");
            }
            window.open('http://docs.google.com/a/au.edu', '_blank');
            $('.loading').hide();
        }
        $(function () {

        });
        $(document).ready(function () {

        });
        function logout() {
            localStorage.removeItem("sso");
        }
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
