@model ABAC.Identity.AdUser2
@using ABAC.Extensions
@{
    ViewData["Title"] = "Edit Account";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                            @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                                <div class="alert alert-success  border-0" role="alert">
                                    <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger border-0" role="alert">
                                    <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">Edit Account</h4>
                    <p class="text-muted">
                        แก้ไขบัญชีข้อมูลส่วนบุคคล
                    </p>
                </div><!--end page-title-box-->
            </div>
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <form class="form-horizontal form-parsley" asp-action="AccountInfo" asp-controller="Account">
        @Html.HiddenFor(m => m.aUUserType)
        @Html.HiddenFor(m => m.isnew)
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body  mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">User Type</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" value="@Model.aUUserType.toUserTypeName()" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Login Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="SamAccountName" readonly>
                                        @Html.ValidationMessageFor(m => m.SamAccountName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">First Name</label>
                                    <div class="col-sm-3">
                                        @if (Model.aUUserType == aUUserType.student || Model.aUUserType == aUUserType.staff)
                                        {
                                            <input class="form-control" type="text" asp-for="GivenName" readonly>
                                        }
                                        else
                                        {
                                            <input class="form-control" type="text" asp-for="GivenName" required>
                                        }
                                        @Html.ValidationMessageFor(m => m.GivenName)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Last Name</label>
                                    <div class="col-sm-3">
                                        @if (Model.aUUserType == aUUserType.student || Model.aUUserType == aUUserType.staff)
                                        {
                                            <input class="form-control" type="text" asp-for="Surname" readonly>
                                        }
                                        else
                                        {
                                            <input class="form-control" type="text" asp-for="Surname" required>
                                        }
                                        @Html.ValidationMessageFor(m => m.Surname)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Display Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="DisplayName" readonly>
                                        @Html.ValidationMessageFor(m => m.DisplayName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Distinguished Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="DistinguishedName" readonly>
                                        @Html.ValidationMessageFor(m => m.DistinguishedName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Email</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="EmailAddress" readonly>
                                        @Html.ValidationMessageFor(m => m.EmailAddress)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Other Email</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="email" asp-for="aUOtherMail">
                                        @Html.ValidationMessageFor(m => m.aUOtherMail)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.aUUserType == aUUserType.staff)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-right">Employee Code</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" asp-for="aUEmpcode" readonly>
                                            @Html.ValidationMessageFor(m => m.aUEmpcode)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.aUUserType == aUUserType.student)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-right">Student ID</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" asp-for="aUStudentId" readonly>
                                            @Html.ValidationMessageFor(m => m.aUStudentId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Citizen ID</label>
                                    <div class="col-sm-3">
                                        @if (Model.aUUserType == aUUserType.student || Model.aUUserType == aUUserType.staff)
                                        {
                                            <input class="form-control" type="text" asp-for="aUIDCard" maxlength="13" readonly>
                                        }
                                        else
                                        {
                                            <input class="form-control" type="text" asp-for="aUIDCard" maxlength="13" required>
                                        }
                                        @Html.ValidationMessageFor(m => m.aUIDCard)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.aUUserType == aUUserType.student || Model.aUUserType == aUUserType.staff)
                        {
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-right">Passport ID</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" asp-for="PassportID">
                                            @Html.ValidationMessageFor(m => m.PassportID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-right">Reference</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" asp-for="Reference">
                                            @Html.ValidationMessageFor(m => m.Reference)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.aUUserType == aUUserType.bulk)
                        {
                            <div id="divExpire">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-right">Valid Date</label>
                                            <div class="col-sm-3">
                                                <input class="form-control dpicker" type="text" asp-for="ValidDate" placeholder="DD/MM/YYYY" required>
                                                @Html.ValidationMessageFor(m => m.ValidDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-right">Expire Date</label>
                                            <div class="col-sm-3">
                                                <input class="form-control dpicker" type="text" asp-for="ExpireDate" placeholder="DD/MM/YYYY" required>
                                                @Html.ValidationMessageFor(m => m.ExpireDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right"></label>
                                    <div class="col-sm-3">
                                        @if (Model.aUUserType == aUUserType.student || Model.aUUserType == aUUserType.staff)
                                        {

                                        }
                                        else
                                        {
                                            <button class="btn btn-dark" type="submit">Save</button>
                                        }
                                        <a href="@Url.Action("CheckAccount","Account")" class="btn btn-light" type="button">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div> <!-- end row -->
    </form>
</div><!-- container -->

@section scripts{
    <script>
        $(document).ready(function () {
            CUexpire_Onchange();
        });
        function CUexpire_Onchange() {
            if ($('#cu_CUexpire_select').get(0).checked == true) {
                $('.CUexpire').hide();
            }
            else {
                $('.CUexpire').show();
            }
        }
    </script>
}