@model ABAC.DTO.SearchDTO
@using ABAC.Identity;
@using ABAC.Extensions
@{
    ViewData["Title"] = "Delete Account";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                            @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                                <div class="alert alert-success  border-0" role="alert">
                                    <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger border-0" role="alert">
                                    <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">Delete Account</h4>
                    <p class="text-muted">
                        ลบบัญชีผู้ใช้
                    </p>
                </div><!--end page-title-box-->
            </div>
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <form class="form-horizontal form-parsley" asp-action="DeleteAccount" asp-controller="Account" id="theForm" method="get">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Search</h4>
                        <div class="form-group row">
                            <div class="col-lg-9">
                                <label class="col-form-label">Text</label>
                                <input class="form-control" type="text" placeholder="Username, Name, ID Card, Emp Code, Student Code" asp-for="text_search" required>
                                @Html.ValidationMessageFor(m => m.text_search)

                            </div>
                            <div class="col-lg-2">
                                <label class="col-form-label">Account Type</label>
                                <select class="form-control" asp-for="usertype_search">
                                    <option value="@aUUserType.vip">@aUUserType.vip.toUserTypeName()</option>
                                    <option value="@aUUserType.office">@aUUserType.office.toUserTypeName()</option>
                                    <option value="@aUUserType.bulk">@aUUserType.bulk.toUserTypeName()</option>
                                </select>
                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label"><br /></label>
                                <button class="btn btn-dark btn-block" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <button class="btn btn-danger" type="button" onclick="OnDelete()">Delete</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                                        <table class="table table-striped mb-0 font-12">
                                            <thead>
                                                <tr>
                                                    <th width="30px">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="chkall" onchange="OnCheckAll()">
                                                            <label class="custom-control-label" for="chkall"></label>
                                                        </div>
                                                    </th>
                                                    <th>Sam Account Name</th>
                                                    <th>Employee/Student Code</th>
                                                    <th>User Principal Name</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Mail</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.lists != null)
                                                {
                                                    foreach (AdUser4 item in Model.lists)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input chk" id="chk-@item.sAMAccountName" value="@item.sAMAccountName">
                                                                    <label class="custom-control-label" for="chk-@item.sAMAccountName"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @item.sAMAccountName
                                                            </td>
                                                            <td>
                                                                @if (item.aUUserType == aUUserType.student)
                                                                {
                                                                    @item.aUStudentId
                                                                }
                                                                else
                                                                {
                                                                    @item.aUEmpcode
                                                                }
                                                            </td>
                                                            <td>@item.userPrincipalName</td>
                                                            <td>@item.givenName</td>
                                                            <td>@item.sn</td>
                                                            <td>@item.mail</td>
                                                            <td>
                                                                @if (NumUtil.ParseInteger(item.userAccountControl) == (int)userAccountControl.Enable || NumUtil.ParseInteger(item.userAccountControl) == (int)userAccountControl.EnablePasswordNotRequired)
                                                                {
                                                                    <span id="status-@item.sAMAccountName" class="badge badge-success">@item.userAccountControl.toUserAccountControl()</span>

                                                                }
                                                                else
                                                                {
                                                                    <span id="status-@item.sAMAccountName" class="badge badge-danger">@item.userAccountControl.toUserAccountControl()</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                                @if (Model.lists == null || Model.lists.Count() == 0)
                                                {
                                                    <tr>
                                                        <td colspan="8" class="text-center">No Data</td>
                                                    </tr>
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div>

    </form>

    <input type="hidden" id="accounts" />
    <button id="btnrequire" type="button" class="btn btn-info waves-effect waves-light" style="display:none;" data-toggle="modal" data-animation="bounce" data-target=".require">Center modal</button>
    <div id="require-modal" class="modal fade bs-example-modal-center confirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="mySmallModalLabel1"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <span>Please select at least one item.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <button id="btnmodal" type="button" class="btn btn-info waves-effect waves-light" style="display:none;" data-toggle="modal" data-animation="bounce" data-target=".confirm">Center modal</button>
    <div id="confirm-modal" class="modal fade bs-example-modal-center confirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="mySmallModalLabel2"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <span>Are you sure do you want to delete this account?</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <span id="lblaccount"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-danger" onclick="dodelete()">
                                Ok
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- container -->
@section scripts{
    <script>
        function OnCheckAll() {
            $('#accounts').val('');
            if ($('#chkall').get(0).checked == true) {
                for (var i = 0; i < $('.chk').length; i++) {
                    $('.chk').get(i).checked = true;
                }
            }
            else {
                for (var i = 0; i < $('.chk').length; i++) {
                    $('.chk').get(i).checked = false;
                }
            }
        }
        function OnDelete() {
            $('#accounts').val('');
            var accounts = '';
            var choose = '';
            for (var i = 0; i < $('.chk').length; i++) {
                if ($('.chk').get(i).checked == true) {
                    choose += $('.chk').get(i).value + ';';
                    accounts += $('.chk').get(i).value;
                    accounts += '<br/>';
                }
            }
            $('#lblaccount').html(accounts);
            $('#btnmodal').click();
            if (choose == '') {
                $('#btnrequire').click();
                //alert('Please select at least one item.');
                return;
            }
            $('#accounts').val(choose);
            @*if (confirm('Are you sure do you want to delete this item?')) {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("Delete", "Account")?choose=' + choose,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#theForm').submit();
                        }
                    },
                    error: function (XMLHttpRequest, errorThrown) {
                    }
                });
            }*@
        }
        function deleteaccount(id) {
            $('#accounts').val('');
            $('#lblaccount').html(id + '<br/>');
            $('#btnmodal').click();
            $('#accounts').val(id);
            @*if (confirm('Are you sure do you want to delete this item?')) {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("Delete", "Account")?choose=' + id,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#theForm').submit();
                        }
                    },
                    error: function (XMLHttpRequest, errorThrown) {
                    }
                });
            }*@
        }

        function dodelete() {
            $.ajax({
                type: 'Get',
                url: '@Url.Action("Delete", "Account")?choose=' + $('#accounts').val(),
                success: function (data) {
                    if (data.result == 1) {
                        $('#theForm').submit();
                    }
                },
                error: function (XMLHttpRequest, errorThrown) {
                }
            });
        }
    </script>
}