@model ABAC.Identity.AdUser2
@inject ABAC.DAL.SpuContext _context
@inject ABAC.Services.LoginServices loginServices
@using ABAC.Extensions;
@{
    ViewData["Title"] = "Home";
    var cms = _context.table_cms.FirstOrDefault();
}

<div class="container-fluid">
    <div id="preview">
        @if (cms != null)
        {
            if (AppUtil.getaUUserType(Model.DistinguishedName) == aUUserType.office)
            {
                @Html.Raw(cms.HOME_Office)
            }
            else if (AppUtil.getaUUserType(Model.DistinguishedName) == aUUserType.vip)
            {
                @Html.Raw(cms.HOME_VIP)
            }
            else if (AppUtil.getaUUserType(Model.DistinguishedName) == aUUserType.bulk)
            {
                @Html.Raw(cms.HOME_Guest)
            }
            else if (AppUtil.getaUUserType(Model.DistinguishedName) == aUUserType.student)
            {
                @Html.Raw(cms.HOME_Student)
            }
            else if (AppUtil.getaUUserType(Model.DistinguishedName) == aUUserType.staff)
            {
                @Html.Raw(cms.HOME_Staff)
            }
            else
            {
                @Html.Raw(cms.HOME_Staff)
            }
        }
    </div>
</div> <!-- end row -->
@section scripts{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.renewsso' == 'True') {             
                $('#ssoform1').submit();
            }
        });
    </script>
}