@model ABAC.DTO.SearchDTO
@using ABAC.Extensions;
@{
    ViewData["Title"] = "Create User[Syn]";
    var total = 0;
}
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                </div>
                <h4 class="page-title">Create User[Syn]</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->

    <form class="form-horizontal form-parsley" asp-action="CreateUser" asp-controller="Report" method="get">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Search</h4>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label class="col-form-label">From</label>
                                <div class="input-group">
                                    <input type="text" class="form-control dpicker" asp-for="dfrom">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="col-form-label">To</label>
                                <div class="input-group">
                                    <input type="text" class="form-control dpicker" asp-for="dto">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label"><br /></label>
                                <button class="btn btn-dark btn-block" type="submit">Search</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Agent Name</th>
                                                    <th>Profile Name</th>
                                                    <th>Status</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Numbers of new Account</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.lists != null)
                                                {
                                                    @foreach (m_step_history item in Model.lists)
                                                    {
                                                        <tr>
                                                            <td>@item.ma_name</td>
                                                            <td>@item.run_profile_name</td>
                                                            <td>@item.step_result</td>
                                                            <td>@item.start_date</td>
                                                            <td>@item.end_date</td>
                                                            <td>@item.export_add</td>
                                                        </tr>
                                                        total += item.export_add;
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                @if (Model.lists == null || Model.lists.Count() == 0)
                                                {
                                                    <tr>
                                                        <td colspan="6" class="text-center">No Data</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="5">Total</td>
                                                        <td>@total</td>
                                                    </tr>
                                                }
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div>
    </form>
    <!-- end row -->

</div><!-- container -->
